/* Sidebar.css — overrides + styling
.bm-burger-button {
  position: fixed;
  width: 25px;
  height: 20px;
  left: 20px;
  top: 20px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-menu {

  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.menu-item {

  color: white;
  padding: 10px 0;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #4c4f5a;
} */


body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
header{
  background: transparent;
  color: #000;
  height: 100%;
  padding: 10px 30px;
}
h4{
  color:white;
}
.sidenav{
  width: 240px;
position: absolute;
background: black;
height: 100vh;
padding: 0 30px;
transition: all;
left: -100%;
z-index: 100;
}

.sidenav.active{
  left: 0;
}
ul{
  padding: 0;
}

ul li{
  list-style-type: none;
}
ul li a{
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

ul li a:hover, ul li a.active{
  background-color: brown;
}

.logo{
  width: 50px;
}

header svg{
  font-size: 40px;
}

@media (max-width: 768px){
  table th{
    font-size: 12px;
  }
  table td{
    font-size: 11px;
  }
}