.topbar{
    background-color: rgb(59, 78, 7);
}

.topbar ul li{
    display: inline;
    padding-right: 40px;
}
.topbar ul li a{
    text-decoration: none;
}

.topbar button{
    float: right;
    width: 180px;
    height: 40px;
    border: none;
    background-color: rgb(18, 129, 55);
    color: white;
    text-transform: uppercase;
    font-weight: 700;

}

@media(max-width:650px){
    .topbar button{
        display: none;
    }
    .topbar ul{
        text-align: center;
    }
}